body {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 150%;
	background-color: #e5e5e5;
	color: #485268;
}
strong {
	font-weight: 500;
}

.page {
	width: 595px;
	margin: 0 auto;
}

/* #region header */
.about-me {
	display: flex;
	padding: 32px 40px 24px 40px;
	background-color: #e25544;
	color: #ffffff;
}

.my-name {
	margin: 0 0 8px 0;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
}

.about-role {
	margin: 0 0 8px 0;
	font-size: 12px;
	line-height: 15px;
}

.about-text {
	margin: 0;
}

.my-photo {
	margin-left: 50px;
	width: 114px;
	/* height: 114px; */
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
/* #endregion */

.main {
	padding: 0 40px;
	background-color: #fff;
}

/* #region contacts */
.contacts {
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
}

.contact-link {
	text-decoration: none;
	color: #485268;
}
/* #endregion */

/* #region info */
.info {
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
	border-top: 1px solid #dee2ed;
}

.info-title {
	margin: 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #e25544;
}

.info-content {
	width: 350px;
}
/* #endregion */

/* #region job */
.job {
	margin-top: 24px;
	padding-left: 8px;
	border-left: 1px dashed #dee2ed;
}

.job:first-child {
	margin-top: 0;
}

.job-title {
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-transform: capitalize;
}

.job-description {
	margin: 0;
	margin-top: 8px;
}
/* #endregion */

/* #region study */
.study {
	margin-top: 24px;
	padding-left: 8px;
	border-left: 1px dashed #dee2ed;
}

.study:first-child {
	margin-top: 0;
}

.study-title {
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-transform: capitalize;
}

.study-description {
	margin: 0;
	margin-top: 8px;
}
/* #endregion */

/* #region skills */
.skills {
	display: flex;
}
.skills-list {
	width: 50%;
	margin: 0;
	padding-left: 8px;
	border-left: 1px dashed #dee2ed;
	box-sizing: border-box;
	list-style: none;
}
.skills-item {
	margin-top: 8px;
}
.skills-item:first-child {
	margin-top: 0;
}
/* #endregion */

/* #region tools */
.tools {
	display: flex;
}
.tools-list {
	width: 50%;
	margin: 0;
	padding-left: 8px;
	border-left: 1px dashed #dee2ed;
	box-sizing: border-box;
	list-style: none;
}
.tools-item {
	margin-top: 8px;
}
.tools-item:first-child {
	margin-top: 0;
}
/* #endregion */
